.carousel-two {
  font-family: "IBM Plex Sans", serif;
  background-color: #010101;
  color: #eee;

  header {
    width: 1200px;
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 80px 1fr 50px;
    grid-template-rows: 50px;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
    .logo {
      font-weight: bold;
    }
    .menu-two {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 20px;
      font-weight: 500;
    }
  }
  .slider {
    height: 100vh;
    margin-top: -50px;
    position: relative;
    .list {
      .item.active {
        opacity: 1;
        z-index: 10;
        p:nth-child(1),
        h2,
        p:nth-child(3) {
          transform: translateY(30px);
          filter: blur(20px);
          opacity: 0;
          animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
        }
        h2 {
          animation-delay: 1s;
        }
        p:nth-child(3) {
          animation-duration: 1.3s;
        }
      }
      .item {
        position: absolute;
        inset: 0 0 0 0;
        overflow: hidden;
        opacity: 0;
        transition: 0.5s;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .content {
          position: absolute;
          left: 10%;
          z-index: 1;
          top: 20%;
          max-width: 80%;

          p:nth-child(1) {
            text-transform: uppercase;
            letter-spacing: 10px;
          }
          p:nth-child(3) {
            line-height: 2rem;
          }
          h2 {
            font-size: 100px;
            margin: 0;
          }
        }
      }
      .item::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background-image: linear-gradient(to top, #000 20%, transparent);
      }
    }
  }
  .arrows {
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    button:hover {
      background-color: #eee;
      color: #1a1a1a;
    }

    button {
      background-color: #eee5;
      border: none;
      font-family: monospace;
      width: 40px;
      height: 40px;
      border-radius: 5px;
      font-size: x-large;
      color: #eee;
      transition: 0.5s;
    }
  }
  .thumbnails {
    position: absolute;
    bottom: 50px;
    z-index: 111;
    display: flex;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
  }
  .thumbnails::-webkit-scrollbar {
    width: 0;
  }
  .thumbnails .item {
    width: 150px;
    height: 220px;
    filter: brightness(0.5);
    transition: 0.5s;
    flex-shrink: 0;
    margin: 0 4px;
    .content {
      position: absolute;
      inset: auto 10px 10px 10px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  .thumbnails .item.active {
    filter: brightness(1.2);
  }
}

@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

@media screen and (max-width: 678px) {
  .thumbnails {
    justify-content: start;
  }
  .slider .list .item .content h2 {
    font-size: 60px !important;
  }
  .arrows {
    top: 10% !important ;
  }
}

@media screen and (min-width: 890px) {
  .thumbnails {
    justify-content: right;
  }
}
