.btn-two {
  border: 2px solid var(--clr);
  display: flex;
  align-self: center;
  font-size: 1rem;
  padding: 1.2em 2.8em;
  text-transform: uppercase;
  border-radius: 48px;
  font-family: "IBM Plex Sans", serif;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 40px 40px var(--clr) inset, 0 0 0 0 var(--clr);
  transition: all 150ms ease-in-out;
  &:hover {
    box-shadow: 0 0 5px var(--clr) inset, 0 0 10px 3px var(--clr);
    color: var(--clr);
  }
}
