$night: #0f1513;

$onyx: #2f3533;

$wisteria: #bbabd8;

$mimi-pink: #fdd7fa;

$alice-blue: #dfeaee;

.hover-one-container {
  height: 100vh;
  width: 100%;
  align-items: center;
  cursor: none;
  //   background-color: $night;
}

.gallery {
  height: var(--height);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
  .gallery-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    will-change: transform; //as will animate on hover
    clip-path: inset(100% 0% 0% 0%);
    transition: clip-path 1s cubic-bezier(0.77, 0, 0.175, 1);
    cursor: none;
  }
  .gallery-item-wrapper {
    transform: scale(1);
    overflow: hidden;
    transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1);

    .gallery-item {
      clip-path: inset(0% 0% 0% 0%);
    }
    .gallery-item-img {
      transform-origin: scale(1);
      width: 100%;
      height: 100%; /* Adjust based on your design */
      background-size: cover;
      background-position: center;
    }
    &:hover {
      transform: scale(1.1);
      .gallery-item {
        clip-path: inset(0% 0% 0% 0%); // Show the entire image on hover
      }
    }
  }
  .gallery-item-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    transform-origin: center;
    will-change: transform;
    transform: scale(1.1);
    transition: transform 2s cubic-bezier(0.77, 0, 0.175, 1),
      clip-path 0.05s linear;
    position: absolute;

    &.sepia {
      filter: grayscale(100%) sepia(20%) brightness(80%);
    }
    &.masked {
      clip-path: circle(20% at 50% 50%);
    }
  }
}

.gallery-body {
  height: 100vh;
  background-color: $night;
  width: 100%;
  padding-top: 5rem;
}
