.hover-body {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(66, 66, 66);
  top: 0vh;
  text-align: center;
  transition: all 900ms ease;
  z-index: 1;
}

.img-body {
  background-color: rgb(63, 63, 63);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .preview {
    position: absolute;
    width: 250px;
    height: 250px;
    overflow: hidden;
    pointer-events: none;
    transform-origin: center;
    z-index: 2;
    transform: scale(0);

    .preview-img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 0 0;
      pointer-events: none;
    }
  }
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 14px;
      text-transform: uppercase;
      line-height: 25px;
    }
    #header p {
      opacity: 0.6;
    }
    .projects {
      width: 70%;
      display: flex;
      flex-direction: column;
      .project {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 2.5em 1em;
        // border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        cursor: none;
        & > div {
          flex: 3;
        }
        & div:last-child {
          flex: 1;
        }
      }
      @media (max-width: 900px) {
        .location,
        .service {
          display: none;
        }
      }
    }
  }
}

.hover-container {
  height: 100vh;
  position: relative;
}
